*{
	padding:0;
	margin:0;
	list-style: none;
}
%full{
	width:100%;
	height:100%;
	overflow: hidden;
}
@mixin pos($p:relative){
	position: $p;
}
body{
	font-size: 16px;
}
html,body,.wrapper{
	@extend %full;
}
.wrapper{
	display: flex;
	flex-direction: column;
}
.header{
	height:.54rem;
	line-height: .54rem;
	background:#393A3F; 
	display: flex;
	justify-content: space-between;
	color:#fff;
	p{
		padding-left:.17rem;
		font-size: .18rem;
		span{
			padding:0 .16rem;
			&:nth-child(1){
				border-right:1px solid #2E2F34;
			};
		}
	}
	i{
		transform: rotate(90deg);
		padding:.22rem .0rem;
	}
}
.main{
	flex:1;
	@include pos;
}
.mark{
	@include pos(absolute);
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
}
.minbox{
	height:100%;
	@include pos;
}
.minheader{
	@include pos(absolute);
	top:.36rem;
	left:1rem;
	img{
		width:1.42rem;
		height:.48rem;
	}
	p{
		font-size: .17rem;
		margin-top:.1rem;
	}
}
.minbox{
	width:92%;
	height:66.12%;
	background: #fff;
	margin:20.39% auto;
	border-radius: 5px;
	span{
		font-size: .11rem;
		padding-left:.13rem;
		color:#ccc;
	}
}
.main1{
	@include pos(absolute);
	width:2.86rem;
	height:.32rem;
	margin-left:.29rem;
	margin-top:1.64rem;
	border-bottom:1px solid #ccc;
	img{
		width:.15rem;
		height:.25rem;
	}
}
.main2{
	@include pos(absolute);
	width:2.86rem;
	height:.32rem;
	margin-left:.29rem;
	margin-top:2.4rem;
	border-bottom:1px solid #ccc;
	img{
		width:.15rem;
		height:.25rem;
	}
}
.minfooter{
	@include pos(absolute);
	bottom:.8rem;
	left:.32rem;
	width:2.85rem;
	height:.4rem;
	line-height: .4rem;
	background: #2FBA77;
	color:#fff;
	p{
		text-align: center;
		font-size: .15rem;
	}
}
.footer{
	
}